<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
  <form (ngSubmit)="tryRegister()" autocomplete="off">
    <input pInputText type="text" name="textInput" [(ngModel)]="email" placeholder="Email" autofocus>
    <input pInputText type="password" name="textInput" [(ngModel)]="password" placeholder="Password" autofocus>
    <button md-raised-button color="primary">Register</button>
  </form>
</p-overlayPanel>

<button pButton type="text" label="Register" (click)="op.toggle($event)"></button>
