<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
  <form (ngSubmit)="onSubmit()" autocomplete="off">
    Name: <input type="text" pInputText name="textInput" [(ngModel)]="user.Name"/>
    Surname: <input type="text" pInputText name="textInput" [(ngModel)]="user.Surname"/>
    Password: <input type="text" pInputText name="textInput" [(ngModel)]="user.Password"/>
    Height: <input type="text" pInputText name="textInput" [(ngModel)]="user.Height"/>
    <button pButton type="text" label="Submit Changes"></button>
  </form>
</p-overlayPanel>

<button pButton type="text" label="Profile" (click)="op.toggle($event)"></button>
