Food Component
<p-dataList [value]="foods" [paginator]="true" [rows]="5">
  <header>
    List of Foods
  </header>
  <template let-food>
    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:14px;padding:20px;border-bottom:1px solid #D5D5D5;">
      <div class="ui-grid-row">
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">Name:   </div>
            <div class="ui-grid-col-8">{{food.Name}}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">NDBNO:   </div>
            <div class="ui-grid-col-8">{{food.NdbNumber}}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">Measure:    </div>
            <div class="ui-grid-col-8">{{food.MeasureLabel}}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">Quantity    </div>
            <div class="ui-grid-col-8">{{food.Quantity}}</div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <footer>
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <p-autoComplete
        [(ngModel)]="foodSearchQuery"
        [suggestions]="foodNameSearchResults"
        (completeMethod)="foodSearch($event)"
        (onSelect)="onFoodSelected($event)"
        delay="700"
        placeholder="Type to select food"
        [size]="30"
        [minLength]="5"
      >
        <template let-foodSearchQuery>
          <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
            <div style="font-size:14px;float:right;margin:10px 10px 0 0">{{foodSearchQuery}}</div>
          </div>
        </template>

      </p-autoComplete>

      <p-dropdown
        [options]="foodMeasures"
        [(ngModel)]="selectedMeasureLabel"
        required="true"
        [style]="{'width':'60px'}"
      ></p-dropdown>

      <input type="text" pInputText
             [(ngModel)]="quantityInputText"

      />

      <button pButton type="button" label="Add"
              (click)="onFoodAddButtonClicked()">
      </button>
    </div>
  </footer>
</p-dataList>


