<div class="card-container">
  <h1 x-large class="sample-content">Health Tracker App</h1>

  <hr>

  <!--<div>-->
    <!--<h4>Local State</h4>-->

    <!--<form (ngSubmit)="submitState(localState.value)" autocomplete="off">-->

      <!--<input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>-->

      <!--<button md-raised-button color="primary">Submit Value</button>-->
    <!--</form>-->

    <!--<pre>this.localState = {{ localState | json }}</pre>-->
  <!--</div>-->

  Login with username: email and password: pass or Register a new user
</div>
