<div class="ui-grid ui-grid-responsive ui-fluid">
  <p-calendar class="ui-g-12 ui-md-6"
              [(ngModel)]="selectedDate"
              [showIcon]="true" dateFormat="dd-mm-yy"
              [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
              (onSelect)="onDateSelected()">

  </p-calendar>

  <p-calendar class="ui-g-12 ui-md-6"
              [(ngModel)]="selectedDate"
              [showIcon]="true" dateFormat="dd-mm-yy"
              [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
              (onSelect)="onDateSelected()">

  </p-calendar>
</div>
<p-chart type="bar" [data]="data"></p-chart>
