<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
    <form (ngSubmit)="tryLogin()" autocomplete="off">
        <input pInputText type="text" name="textInput" [(ngModel)]="email" placeholder="Email" autofocus>
        <input pInputText type="password" name="textInput" [(ngModel)]="password" placeholder="Password" autofocus>
        <button pButton label="Login" md-raised-button color="primary"></button>
    </form>
</p-overlayPanel>

<button pButton type="text" label="Login" (click)="op.toggle($event)"></button>
