User Component Html

<p-calendar [(ngModel)]="selectedDate"
            [showIcon]="true" dateFormat="dd-mm-yy"
            [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
            (onSelect)="onDateSelected()">

</p-calendar>

<div class="ui-grid ui-grid-responsive ui-fluid">
  <food class="ui-g-12 ui-md-4" [masterDateString]="selectedDateString"></food>
  <activity class="ui-g-12 ui-md-4" [masterDateString]="selectedDateString"></activity>
  <weight class="ui-g-12 ui-md-4" [masterDateString]="selectedDateString"></weight>
</div>


